*{margin:0;padding:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body{background:#fff;width:100%;height:100%;font-size:14px;font-family:Helvetica,Arial,"Hiragino Sans GB",sans-serif}
.wrap{width:1200px;margin:0 auto;padding-bottom:100px}
.red{color:red;white-space:nowrap}
h1,h2,h3{color:#555;padding-top:15px}
h1{word-break:break-all;font-size:32px;font-weight:700;line-height:1.5;text-align:center}
p.txt{line-height:30px;text-indent:2em;color:#555}
code{background:#f2f2f2;padding:0 5px;color:#f20e86}
table,td,th,tr{border-spacing:0;cellspacing:0;padding:0}
table{margin-top:30px;padding-top:10px;border-top:2px dashed #e7e7e7}
td,th{border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7}
td{border-spacing:0;padding:0;width:70px;height:60px;text-align:center}
td p{position:relative;text-align:center;padding-top:40px;height:20px;line-height:20px}
td p span{color:#555}
td p:before{position:absolute;left:0;top:0;text-align:center;width:100%;height:40px;line-height:40px;font-size:26px}
td p:hover:before{font-size:42px;color:#c84f4f}
.u2190:before{content:'\2190'}
.u2191:before{content:'\2191'}
.u2192:before{content:'\2192'}
.u2193:before{content:'\2193'}
.u2194:before{content:'\2194'}
.u2195:before{content:'\2195'}
.u2196:before{content:'\2196'}
.u2197:before{content:'\2197'}
.u2198:before{content:'\2198'}
.u2199:before{content:'\2199'}
.u219A:before{content:'\219A'}
.u219B:before{content:'\219B'}
.u219C:before{content:'\219C'}
.u219D:before{content:'\219D'}
.u219E:before{content:'\219E'}
.u219F:before{content:'\219F'}
.u21A0:before{content:'\21A0'}
.u21A1:before{content:'\21A1'}
.u21A2:before{content:'\21A2'}
.u21A3:before{content:'\21A3'}
.u21A4:before{content:'\21A4'}
.u21A5:before{content:'\21A5'}
.u21A6:before{content:'\21A6'}
.u21A7:before{content:'\21A7'}
.u21A8:before{content:'\21A8'}
.u21A9:before{content:'\21A9'}
.u21AA:before{content:'\21AA'}
.u21AB:before{content:'\21AB'}
.u21AC:before{content:'\21AC'}
.u21AD:before{content:'\21AD'}
.u21AE:before{content:'\21AE'}
.u21AF:before{content:'\21AF'}
.u21B0:before{content:'\21B0'}
.u21B1:before{content:'\21B1'}
.u21B2:before{content:'\21B2'}
.u21B3:before{content:'\21B3'}
.u21B4:before{content:'\21B4'}
.u21B5:before{content:'\21B5'}
.u21B6:before{content:'\21B6'}
.u21B7:before{content:'\21B7'}
.u21B8:before{content:'\21B8'}
.u21B9:before{content:'\21B9'}
.u21BA:before{content:'\21BA'}
.u21BB:before{content:'\21BB'}
.u21BC:before{content:'\21BC'}
.u21BD:before{content:'\21BD'}
.u21BE:before{content:'\21BE'}
.u21BF:before{content:'\21BF'}
.u21C0:before{content:'\21C0'}
.u21C1:before{content:'\21C1'}
.u21C2:before{content:'\21C2'}
.u21C3:before{content:'\21C3'}
.u21C4:before{content:'\21C4'}
.u21C5:before{content:'\21C5'}
.u21C6:before{content:'\21C6'}
.u21C7:before{content:'\21C7'}
.u21C8:before{content:'\21C8'}
.u21C9:before{content:'\21C9'}
.u21CA:before{content:'\21CA'}
.u21CB:before{content:'\21CB'}
.u21CC:before{content:'\21CC'}
.u21CD:before{content:'\21CD'}
.u21CE:before{content:'\21CE'}
.u21CF:before{content:'\21CF'}
.u21D0:before{content:'\21D0'}
.u21D1:before{content:'\21D1'}
.u21D2:before{content:'\21D2'}
.u21D3:before{content:'\21D3'}
.u21D4:before{content:'\21D4'}
.u21D5:before{content:'\21D5'}
.u21D6:before{content:'\21D6'}
.u21D7:before{content:'\21D7'}
.u21D8:before{content:'\21D8'}
.u21D9:before{content:'\21D9'}
.u21DA:before{content:'\21DA'}
.u21DB:before{content:'\21DB'}
.u21DC:before{content:'\21DC'}
.u21DD:before{content:'\21DD'}
.u21DE:before{content:'\21DE'}
.u21DF:before{content:'\21DF'}
.u21E0:before{content:'\21E0'}
.u21E1:before{content:'\21E1'}
.u21E2:before{content:'\21E2'}
.u21E3:before{content:'\21E3'}
.u21E4:before{content:'\21E4'}
.u21E5:before{content:'\21E5'}
.u21E6:before{content:'\21E6'}
.u21E7:before{content:'\21E7'}
.u21E8:before{content:'\21E8'}
.u21E9:before{content:'\21E9'}
.u21EA:before{content:'\21EA'}
.u21EB:before{content:'\21EB'}
.u21EC:before{content:'\21EC'}
.u21ED:before{content:'\21ED'}
.u21EE:before{content:'\21EE'}
.u21EF:before{content:'\21EF'}
.u21F0:before{content:'\21F0'}
.u21F1:before{content:'\21F1'}
.u21F2:before{content:'\21F2'}
.u21F3:before{content:'\21F3'}
.u21F4:before{content:'\21F4'}
.u21F5:before{content:'\21F5'}
.u21F6:before{content:'\21F6'}
.u21F7:before{content:'\21F7'}
.u21F8:before{content:'\21F8'}
.u21F9:before{content:'\21F9'}
.u21FA:before{content:'\21FA'}
.u21FB:before{content:'\21FB'}
.u21FC:before{content:'\21FC'}
.u21FD:before{content:'\21FD'}
.u21FE:before{content:'\21FE'}
.u21FF:before{content:'\21FF'}
.u25A0:before{content:'\25A0'}
.u25A1:before{content:'\25A1'}
.u25A2:before{content:'\25A2'}
.u25A3:before{content:'\25A3'}
.u25A4:before{content:'\25A4'}
.u25A5:before{content:'\25A5'}
.u25A6:before{content:'\25A6'}
.u25A7:before{content:'\25A7'}
.u25A8:before{content:'\25A8'}
.u25A9:before{content:'\25A9'}
.u25AA:before{content:'\25AA'}
.u25AB:before{content:'\25AB'}
.u25AC:before{content:'\25AC'}
.u25AD:before{content:'\25AD'}
.u25AE:before{content:'\25AE'}
.u25AF:before{content:'\25AF'}
.u25B0:before{content:'\25B0'}
.u25B1:before{content:'\25B1'}
.u25B2:before{content:'\25B2'}
.u25B3:before{content:'\25B3'}
.u25B4:before{content:'\25B4'}
.u25B5:before{content:'\25B5'}
.u25B6:before{content:'\25B6'}
.u25B7:before{content:'\25B7'}
.u25B8:before{content:'\25B8'}
.u25B9:before{content:'\25B9'}
.u25BA:before{content:'\25BA'}
.u25BB:before{content:'\25BB'}
.u25BC:before{content:'\25BC'}
.u25BD:before{content:'\25BD'}
.u25BE:before{content:'\25BE'}
.u25BF:before{content:'\25BF'}
.u25C0:before{content:'\25C0'}
.u25C1:before{content:'\25C1'}
.u25C2:before{content:'\25C2'}
.u25C3:before{content:'\25C3'}
.u25C4:before{content:'\25C4'}
.u25C5:before{content:'\25C5'}
.u25C6:before{content:'\25C6'}
.u25C7:before{content:'\25C7'}
.u25C8:before{content:'\25C8'}
.u25C9:before{content:'\25C9'}
.u25CA:before{content:'\25CA'}
.u25CB:before{content:'\25CB'}
.u25CC:before{content:'\25CC'}
.u25CD:before{content:'\25CD'}
.u25CE:before{content:'\25CE'}
.u25CF:before{content:'\25CF'}
.u25D0:before{content:'\25D0'}
.u25D1:before{content:'\25D1'}
.u25D2:before{content:'\25D2'}
.u25D3:before{content:'\25D3'}
.u25D4:before{content:'\25D4'}
.u25D5:before{content:'\25D5'}
.u25D6:before{content:'\25D6'}
.u25D7:before{content:'\25D7'}
.u25D8:before{content:'\25D8'}
.u25D9:before{content:'\25D9'}
.u25DA:before{content:'\25DA'}
.u25DB:before{content:'\25DB'}
.u25DC:before{content:'\25DC'}
.u25DD:before{content:'\25DD'}
.u25DE:before{content:'\25DE'}
.u25DF:before{content:'\25DF'}
.u25E0:before{content:'\25E0'}
.u25E1:before{content:'\25E1'}
.u25E2:before{content:'\25E2'}
.u25E3:before{content:'\25E3'}
.u25E4:before{content:'\25E4'}
.u25E5:before{content:'\25E5'}
.u25E6:before{content:'\25E6'}
.u25E7:before{content:'\25E7'}
.u25E8:before{content:'\25E8'}
.u25E9:before{content:'\25E9'}
.u25EA:before{content:'\25EA'}
.u25EB:before{content:'\25EB'}
.u25EC:before{content:'\25EC'}
.u25ED:before{content:'\25ED'}
.u25EE:before{content:'\25EE'}
.u25EF:before{content:'\25EF'}
.u25F0:before{content:'\25F0'}
.u25F1:before{content:'\25F1'}
.u25F2:before{content:'\25F2'}
.u25F3:before{content:'\25F3'}
.u25F4:before{content:'\25F4'}
.u25F5:before{content:'\25F5'}
.u25F6:before{content:'\25F6'}
.u25F7:before{content:'\25F7'}
.u25F8:before{content:'\25F8'}
.u25F9:before{content:'\25F9'}
.u25FA:before{content:'\25FA'}
.u25FB:before{content:'\25FB'}
.u25FC:before{content:'\25FC'}
.u25FD:before{content:'\25FD'}
.u25FE:before{content:'\25FE'}
.u25FF:before{content:'\25FF'}
.u2600:before{content:'\2600'}
.u2601:before{content:'\2601'}
.u2602:before{content:'\2602'}
.u2603:before{content:'\2603'}
.u2604:before{content:'\2604'}
.u2605:before{content:'\2605'}
.u2606:before{content:'\2606'}
.u2607:before{content:'\2607'}
.u2608:before{content:'\2608'}
.u2609:before{content:'\2609'}
.u260A:before{content:'\260A'}
.u260B:before{content:'\260B'}
.u260C:before{content:'\260C'}
.u260D:before{content:'\260D'}
.u260E:before{content:'\260E'}
.u260F:before{content:'\260F'}
.u2610:before{content:'\2610'}
.u2611:before{content:'\2611'}
.u2612:before{content:'\2612'}
.u2613:before{content:'\2613'}
.u2614:before{content:'\2614'}
.u2615:before{content:'\2615'}
.u2616:before{content:'\2616'}
.u2617:before{content:'\2617'}
.u2618:before{content:'\2618'}
.u2619:before{content:'\2619'}
.u261A:before{content:'\261A'}
.u261B:before{content:'\261B'}
.u261C:before{content:'\261C'}
.u261D:before{content:'\261D'}
.u261E:before{content:'\261E'}
.u261F:before{content:'\261F'}
.u2620:before{content:'\2620'}
.u2621:before{content:'\2621'}
.u2622:before{content:'\2622'}
.u2623:before{content:'\2623'}
.u2624:before{content:'\2624'}
.u2625:before{content:'\2625'}
.u2626:before{content:'\2626'}
.u2627:before{content:'\2627'}
.u2628:before{content:'\2628'}
.u2629:before{content:'\2629'}
.u262A:before{content:'\262A'}
.u262B:before{content:'\262B'}
.u262C:before{content:'\262C'}
.u262D:before{content:'\262D'}
.u262E:before{content:'\262E'}
.u262F:before{content:'\262F'}
.u2630:before{content:'\2630'}
.u2631:before{content:'\2631'}
.u2632:before{content:'\2632'}
.u2633:before{content:'\2633'}
.u2634:before{content:'\2634'}
.u2635:before{content:'\2635'}
.u2636:before{content:'\2636'}
.u2637:before{content:'\2637'}
.u2638:before{content:'\2638'}
.u2639:before{content:'\2639'}
.u263A:before{content:'\263A'}
.u263B:before{content:'\263B'}
.u263C:before{content:'\263C'}
.u263D:before{content:'\263D'}
.u263E:before{content:'\263E'}
.u263F:before{content:'\263F'}
.u2640:before{content:'\2640'}
.u2641:before{content:'\2641'}
.u2642:before{content:'\2642'}
.u2643:before{content:'\2643'}
.u2644:before{content:'\2644'}
.u2645:before{content:'\2645'}
.u2646:before{content:'\2646'}
.u2647:before{content:'\2647'}
.u2648:before{content:'\2648'}
.u2649:before{content:'\2649'}
.u264A:before{content:'\264A'}
.u264B:before{content:'\264B'}
.u264C:before{content:'\264C'}
.u264D:before{content:'\264D'}
.u264E:before{content:'\264E'}
.u264F:before{content:'\264F'}
.u2650:before{content:'\2650'}
.u2651:before{content:'\2651'}
.u2652:before{content:'\2652'}
.u2653:before{content:'\2653'}
.u2654:before{content:'\2654'}
.u2655:before{content:'\2655'}
.u2656:before{content:'\2656'}
.u2657:before{content:'\2657'}
.u2658:before{content:'\2658'}
.u2659:before{content:'\2659'}
.u265A:before{content:'\265A'}
.u265B:before{content:'\265B'}
.u265C:before{content:'\265C'}
.u265D:before{content:'\265D'}
.u265E:before{content:'\265E'}
.u265F:before{content:'\265F'}
.u2660:before{content:'\2660'}
.u2661:before{content:'\2661'}
.u2662:before{content:'\2662'}
.u2663:before{content:'\2663'}
.u2664:before{content:'\2664'}
.u2665:before{content:'\2665'}
.u2666:before{content:'\2666'}
.u2667:before{content:'\2667'}
.u2668:before{content:'\2668'}
.u2669:before{content:'\2669'}
.u266A:before{content:'\266A'}
.u266B:before{content:'\266B'}
.u266C:before{content:'\266C'}
.u266D:before{content:'\266D'}
.u266E:before{content:'\266E'}
.u266F:before{content:'\266F'}
.u2670:before{content:'\2670'}
.u2671:before{content:'\2671'}
.u2672:before{content:'\2672'}
.u2673:before{content:'\2673'}
.u2674:before{content:'\2674'}
.u2675:before{content:'\2675'}
.u2676:before{content:'\2676'}
.u2677:before{content:'\2677'}
.u2678:before{content:'\2678'}
.u2679:before{content:'\2679'}
.u267A:before{content:'\267A'}
.u267B:before{content:'\267B'}
.u267C:before{content:'\267C'}
.u267D:before{content:'\267D'}
.u267E:before{content:'\267E'}
.u267F:before{content:'\267F'}
.u2680:before{content:'\2680'}
.u2681:before{content:'\2681'}
.u2682:before{content:'\2682'}
.u2683:before{content:'\2683'}
.u2684:before{content:'\2684'}
.u2685:before{content:'\2685'}
.u2686:before{content:'\2686'}
.u2687:before{content:'\2687'}
.u2688:before{content:'\2688'}
.u2689:before{content:'\2689'}
.u268A:before{content:'\268A'}
.u268B:before{content:'\268B'}
.u268C:before{content:'\268C'}
.u268D:before{content:'\268D'}
.u268E:before{content:'\268E'}
.u268F:before{content:'\268F'}
.u2690:before{content:'\2690'}
.u2691:before{content:'\2691'}
.u2692:before{content:'\2692'}
.u2693:before{content:'\2693'}
.u2694:before{content:'\2694'}
.u2695:before{content:'\2695'}
.u2696:before{content:'\2696'}
.u2697:before{content:'\2697'}
.u2698:before{content:'\2698'}
.u2699:before{content:'\2699'}
.u269A:before{content:'\269A'}
.u269B:before{content:'\269B'}
.u269C:before{content:'\269C'}
.u269D:before{content:'\269D'}
.u269E:before{content:'\269E'}
.u269F:before{content:'\269F'}
.u26A0:before{content:'\26A0'}
.u26A1:before{content:'\26A1'}
.u26A2:before{content:'\26A2'}
.u26A3:before{content:'\26A3'}
.u26A4:before{content:'\26A4'}
.u26A5:before{content:'\26A5'}
.u26A6:before{content:'\26A6'}
.u26A7:before{content:'\26A7'}
.u26A8:before{content:'\26A8'}
.u26A9:before{content:'\26A9'}
.u26AA:before{content:'\26AA'}
.u26AB:before{content:'\26AB'}
.u26AC:before{content:'\26AC'}
.u26AD:before{content:'\26AD'}
.u26AE:before{content:'\26AE'}
.u26AF:before{content:'\26AF'}
.u26B0:before{content:'\26B0'}
.u26B1:before{content:'\26B1'}
.u26B2:before{content:'\26B2'}
.u26B3:before{content:'\26B3'}
.u26B4:before{content:'\26B4'}
.u26B5:before{content:'\26B5'}
.u26B6:before{content:'\26B6'}
.u26B7:before{content:'\26B7'}
.u26B8:before{content:'\26B8'}
.u26B9:before{content:'\26B9'}
.u26BA:before{content:'\26BA'}
.u26BB:before{content:'\26BB'}
.u26BC:before{content:'\26BC'}
.u26BD:before{content:'\26BD'}
.u26BE:before{content:'\26BE'}
.u26BF:before{content:'\26BF'}
.u26C0:before{content:'\26C0'}
.u26C1:before{content:'\26C1'}
.u26C2:before{content:'\26C2'}
.u26C3:before{content:'\26C3'}
.u26C4:before{content:'\26C4'}
.u26C5:before{content:'\26C5'}
.u26C6:before{content:'\26C6'}
.u26C7:before{content:'\26C7'}
.u26C8:before{content:'\26C8'}
.u26C9:before{content:'\26C9'}
.u26CA:before{content:'\26CA'}
.u26CB:before{content:'\26CB'}
.u26CC:before{content:'\26CC'}
.u26CD:before{content:'\26CD'}
.u26CE:before{content:'\26CE'}
.u26CF:before{content:'\26CF'}
.u26D0:before{content:'\26D0'}
.u26D1:before{content:'\26D1'}
.u26D2:before{content:'\26D2'}
.u26D3:before{content:'\26D3'}
.u26D4:before{content:'\26D4'}
.u26D5:before{content:'\26D5'}
.u26D6:before{content:'\26D6'}
.u26D7:before{content:'\26D7'}
.u26D8:before{content:'\26D8'}
.u26D9:before{content:'\26D9'}
.u26DA:before{content:'\26DA'}
.u26DB:before{content:'\26DB'}
.u26DC:before{content:'\26DC'}
.u26DD:before{content:'\26DD'}
.u26DE:before{content:'\26DE'}
.u26DF:before{content:'\26DF'}
.u26E0:before{content:'\26E0'}
.u26E1:before{content:'\26E1'}
.u26E2:before{content:'\26E2'}
.u26E3:before{content:'\26E3'}
.u26E4:before{content:'\26E4'}
.u26E5:before{content:'\26E5'}
.u26E6:before{content:'\26E6'}
.u26E7:before{content:'\26E7'}
.u26E8:before{content:'\26E8'}
.u26E9:before{content:'\26E9'}
.u26EA:before{content:'\26EA'}
.u26EB:before{content:'\26EB'}
.u26EC:before{content:'\26EC'}
.u26ED:before{content:'\26ED'}
.u26EE:before{content:'\26EE'}
.u26EF:before{content:'\26EF'}
.u26F0:before{content:'\26F0'}
.u26F1:before{content:'\26F1'}
.u26F2:before{content:'\26F2'}
.u26F3:before{content:'\26F3'}
.u26F4:before{content:'\26F4'}
.u26F5:before{content:'\26F5'}
.u26F6:before{content:'\26F6'}
.u26F7:before{content:'\26F7'}
.u26F8:before{content:'\26F8'}
.u26F9:before{content:'\26F9'}
.u26FA:before{content:'\26FA'}
.u26FB:before{content:'\26FB'}
.u26FC:before{content:'\26FC'}
.u26FD:before{content:'\26FD'}
.u26FE:before{content:'\26FE'}
.u26FF:before{content:'\26FF'}
.u2700:before{content:'\2700'}
.u2701:before{content:'\2701'}
.u2702:before{content:'\2702'}
.u2703:before{content:'\2703'}
.u2704:before{content:'\2704'}
.u2705:before{content:'\2705'}
.u2706:before{content:'\2706'}
.u2707:before{content:'\2707'}
.u2708:before{content:'\2708'}
.u2709:before{content:'\2709'}
.u270A:before{content:'\270A'}
.u270B:before{content:'\270B'}
.u270C:before{content:'\270C'}
.u270D:before{content:'\270D'}
.u270E:before{content:'\270E'}
.u270F:before{content:'\270F'}
.u2710:before{content:'\2710'}
.u2711:before{content:'\2711'}
.u2712:before{content:'\2712'}
.u2713:before{content:'\2713'}
.u2714:before{content:'\2714'}
.u2715:before{content:'\2715'}
.u2716:before{content:'\2716'}
.u2717:before{content:'\2717'}
.u2718:before{content:'\2718'}
.u2719:before{content:'\2719'}
.u271A:before{content:'\271A'}
.u271B:before{content:'\271B'}
.u271C:before{content:'\271C'}
.u271D:before{content:'\271D'}
.u271E:before{content:'\271E'}
.u271F:before{content:'\271F'}
.u2720:before{content:'\2720'}
.u2721:before{content:'\2721'}
.u2722:before{content:'\2722'}
.u2723:before{content:'\2723'}
.u2724:before{content:'\2724'}
.u2725:before{content:'\2725'}
.u2726:before{content:'\2726'}
.u2727:before{content:'\2727'}
.u2728:before{content:'\2728'}
.u2729:before{content:'\2729'}
.u272A:before{content:'\272A'}
.u272B:before{content:'\272B'}
.u272C:before{content:'\272C'}
.u272D:before{content:'\272D'}
.u272E:before{content:'\272E'}
.u272F:before{content:'\272F'}
.u2730:before{content:'\2730'}
.u2731:before{content:'\2731'}
.u2732:before{content:'\2732'}
.u2733:before{content:'\2733'}
.u2734:before{content:'\2734'}
.u2735:before{content:'\2735'}
.u2736:before{content:'\2736'}
.u2737:before{content:'\2737'}
.u2738:before{content:'\2738'}
.u2739:before{content:'\2739'}
.u273A:before{content:'\273A'}
.u273B:before{content:'\273B'}
.u273C:before{content:'\273C'}
.u273D:before{content:'\273D'}
.u273E:before{content:'\273E'}
.u273F:before{content:'\273F'}
.u2740:before{content:'\2740'}
.u2741:before{content:'\2741'}
.u2742:before{content:'\2742'}
.u2743:before{content:'\2743'}
.u2744:before{content:'\2744'}
.u2745:before{content:'\2745'}
.u2746:before{content:'\2746'}
.u2747:before{content:'\2747'}
.u2748:before{content:'\2748'}
.u2749:before{content:'\2749'}
.u274A:before{content:'\274A'}
.u274B:before{content:'\274B'}
.u274C:before{content:'\274C'}
.u274D:before{content:'\274D'}
.u274E:before{content:'\274E'}
.u274F:before{content:'\274F'}
.u2750:before{content:'\2750'}
.u2751:before{content:'\2751'}
.u2752:before{content:'\2752'}
.u2753:before{content:'\2753'}
.u2754:before{content:'\2754'}
.u2755:before{content:'\2755'}
.u2756:before{content:'\2756'}
.u2757:before{content:'\2757'}
.u2758:before{content:'\2758'}
.u2759:before{content:'\2759'}
.u275A:before{content:'\275A'}
.u275B:before{content:'\275B'}
.u275C:before{content:'\275C'}
.u275D:before{content:'\275D'}
.u275E:before{content:'\275E'}
.u275F:before{content:'\275F'}
.u2760:before{content:'\2760'}
.u2761:before{content:'\2761'}
.u2762:before{content:'\2762'}
.u2763:before{content:'\2763'}
.u2764:before{content:'\2764'}
.u2765:before{content:'\2765'}
.u2766:before{content:'\2766'}
.u2767:before{content:'\2767'}
.u2768:before{content:'\2768'}
.u2769:before{content:'\2769'}
.u276A:before{content:'\276A'}
.u276B:before{content:'\276B'}
.u276C:before{content:'\276C'}
.u276D:before{content:'\276D'}
.u276E:before{content:'\276E'}
.u276F:before{content:'\276F'}
.u2770:before{content:'\2770'}
.u2771:before{content:'\2771'}
.u2772:before{content:'\2772'}
.u2773:before{content:'\2773'}
.u2774:before{content:'\2774'}
.u2775:before{content:'\2775'}
.u2776:before{content:'\2776'}
.u2777:before{content:'\2777'}
.u2778:before{content:'\2778'}
.u2779:before{content:'\2779'}
.u277A:before{content:'\277A'}
.u277B:before{content:'\277B'}
.u277C:before{content:'\277C'}
.u277D:before{content:'\277D'}
.u277E:before{content:'\277E'}
.u277F:before{content:'\277F'}
.u2780:before{content:'\2780'}
.u2781:before{content:'\2781'}
.u2782:before{content:'\2782'}
.u2783:before{content:'\2783'}
.u2784:before{content:'\2784'}
.u2785:before{content:'\2785'}
.u2786:before{content:'\2786'}
.u2787:before{content:'\2787'}
.u2788:before{content:'\2788'}
.u2789:before{content:'\2789'}
.u278A:before{content:'\278A'}
.u278B:before{content:'\278B'}
.u278C:before{content:'\278C'}
.u278D:before{content:'\278D'}
.u278E:before{content:'\278E'}
.u278F:before{content:'\278F'}
.u2790:before{content:'\2790'}
.u2791:before{content:'\2791'}
.u2792:before{content:'\2792'}
.u2793:before{content:'\2793'}
.u2794:before{content:'\2794'}
.u2795:before{content:'\2795'}
.u2796:before{content:'\2796'}
.u2797:before{content:'\2797'}
.u2798:before{content:'\2798'}
.u2799:before{content:'\2799'}
.u279A:before{content:'\279A'}
.u279B:before{content:'\279B'}
.u279C:before{content:'\279C'}
.u279D:before{content:'\279D'}
.u279E:before{content:'\279E'}
.u279F:before{content:'\279F'}
.u27A0:before{content:'\27A0'}
.u27A1:before{content:'\27A1'}
.u27A2:before{content:'\27A2'}
.u27A3:before{content:'\27A3'}
.u27A4:before{content:'\27A4'}
.u27A5:before{content:'\27A5'}
.u27A6:before{content:'\27A6'}
.u27A7:before{content:'\27A7'}
.u27A8:before{content:'\27A8'}
.u27A9:before{content:'\27A9'}
.u27AA:before{content:'\27AA'}
.u27AB:before{content:'\27AB'}
.u27AC:before{content:'\27AC'}
.u27AD:before{content:'\27AD'}
.u27AE:before{content:'\27AE'}
.u27AF:before{content:'\27AF'}
.u27B0:before{content:'\27B0'}
.u27B1:before{content:'\27B1'}
.u27B2:before{content:'\27B2'}
.u27B3:before{content:'\27B3'}
.u27B4:before{content:'\27B4'}
.u27B5:before{content:'\27B5'}
.u27B6:before{content:'\27B6'}
.u27B7:before{content:'\27B7'}
.u27B8:before{content:'\27B8'}
.u27B9:before{content:'\27B9'}
.u27BA:before{content:'\27BA'}
.u27BB:before{content:'\27BB'}
.u27BC:before{content:'\27BC'}
.u27BD:before{content:'\27BD'}
.u27BE:before{content:'\27BE'}
.u27BF:before{content:'\27BF'}
.u2900:before{content:'\2900'}
.u2901:before{content:'\2901'}
.u2902:before{content:'\2902'}
.u2903:before{content:'\2903'}
.u2904:before{content:'\2904'}
.u2905:before{content:'\2905'}
.u2906:before{content:'\2906'}
.u2907:before{content:'\2907'}
.u2908:before{content:'\2908'}
.u2909:before{content:'\2909'}
.u290A:before{content:'\290A'}
.u290B:before{content:'\290B'}
.u290C:before{content:'\290C'}
.u290D:before{content:'\290D'}
.u290E:before{content:'\290E'}
.u290F:before{content:'\290F'}
.u2910:before{content:'\2910'}
.u2911:before{content:'\2911'}
.u2912:before{content:'\2912'}
.u2913:before{content:'\2913'}
.u2914:before{content:'\2914'}
.u2915:before{content:'\2915'}
.u2916:before{content:'\2916'}
.u2917:before{content:'\2917'}
.u2918:before{content:'\2918'}
.u2919:before{content:'\2919'}
.u291A:before{content:'\291A'}
.u291B:before{content:'\291B'}
.u291C:before{content:'\291C'}
.u291D:before{content:'\291D'}
.u291E:before{content:'\291E'}
.u291F:before{content:'\291F'}
.u2920:before{content:'\2920'}
.u2921:before{content:'\2921'}
.u2922:before{content:'\2922'}
.u2923:before{content:'\2923'}
.u2924:before{content:'\2924'}
.u2925:before{content:'\2925'}
.u2926:before{content:'\2926'}
.u2927:before{content:'\2927'}
.u2928:before{content:'\2928'}
.u2929:before{content:'\2929'}
.u292A:before{content:'\292A'}
.u292B:before{content:'\292B'}
.u292C:before{content:'\292C'}
.u292D:before{content:'\292D'}
.u292E:before{content:'\292E'}
.u292F:before{content:'\292F'}
.u2930:before{content:'\2930'}
.u2931:before{content:'\2931'}
.u2932:before{content:'\2932'}
.u2933:before{content:'\2933'}
.u2934:before{content:'\2934'}
.u2935:before{content:'\2935'}
.u2936:before{content:'\2936'}
.u2937:before{content:'\2937'}
.u2938:before{content:'\2938'}
.u2939:before{content:'\2939'}
.u293A:before{content:'\293A'}
.u293B:before{content:'\293B'}
.u293C:before{content:'\293C'}
.u293D:before{content:'\293D'}
.u293E:before{content:'\293E'}
.u293F:before{content:'\293F'}
.u2940:before{content:'\2940'}
.u2941:before{content:'\2941'}
.u2942:before{content:'\2942'}
.u2943:before{content:'\2943'}
.u2944:before{content:'\2944'}
.u2945:before{content:'\2945'}
.u2946:before{content:'\2946'}
.u2947:before{content:'\2947'}
.u2948:before{content:'\2948'}
.u2949:before{content:'\2949'}
.u294A:before{content:'\294A'}
.u294B:before{content:'\294B'}
.u294C:before{content:'\294C'}
.u294D:before{content:'\294D'}
.u294E:before{content:'\294E'}
.u294F:before{content:'\294F'}
.u2950:before{content:'\2950'}
.u2951:before{content:'\2951'}
.u2952:before{content:'\2952'}
.u2953:before{content:'\2953'}
.u2954:before{content:'\2954'}
.u2955:before{content:'\2955'}
.u2956:before{content:'\2956'}
.u2957:before{content:'\2957'}
.u2958:before{content:'\2958'}
.u2959:before{content:'\2959'}
.u295A:before{content:'\295A'}
.u295B:before{content:'\295B'}
.u295C:before{content:'\295C'}
.u295D:before{content:'\295D'}
.u295E:before{content:'\295E'}
.u295F:before{content:'\295F'}
.u2960:before{content:'\2960'}
.u2961:before{content:'\2961'}
.u2962:before{content:'\2962'}
.u2963:before{content:'\2963'}
.u2964:before{content:'\2964'}
.u2965:before{content:'\2965'}
.u2966:before{content:'\2966'}
.u2967:before{content:'\2967'}
.u2968:before{content:'\2968'}
.u2969:before{content:'\2969'}
.u296A:before{content:'\296A'}
.u296B:before{content:'\296B'}
.u296C:before{content:'\296C'}
.u296D:before{content:'\296D'}
.u296E:before{content:'\296E'}
.u296F:before{content:'\296F'}
.u2970:before{content:'\2970'}
.u2971:before{content:'\2971'}
.u2972:before{content:'\2972'}
.u2973:before{content:'\2973'}
.u2974:before{content:'\2974'}
.u2975:before{content:'\2975'}
.u2976:before{content:'\2976'}
.u2977:before{content:'\2977'}
.u2978:before{content:'\2978'}
.u2979:before{content:'\2979'}
.u297A:before{content:'\297A'}
.u297B:before{content:'\297B'}
.u297C:before{content:'\297C'}
.u297D:before{content:'\297D'}
.u297E:before{content:'\297E'}
.u297F:before{content:'\297F'}