doctype html 
html(lang='zh-CN')
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 常用的HTML特殊字符大全(css3 content)
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    .wrap
      h1 常用的HTML特殊字符大全(css3 content)
      table
        tr
          th 箭头
          th 0
          th 1
          th 2
          th 3
          th 4
          th 5
          th 6
          th 7
          th 8
          th 9
          th A
          th B
          th C
          th D
          th E
          th F
        tr 
          - var n='219'
          include jade-part/tr
        tr 
          - var n='21A'
          include jade-part/tr
        tr 
          - var n='21B'
          include jade-part/tr
        tr 
          - var n='21C'
          include jade-part/tr
        tr 
          - var n='21D'
          include jade-part/tr
        tr 
          - var n='21E'
          include jade-part/tr
        tr 
          - var n='21F'
          include jade-part/tr