doctype html 
html(lang='zh-CN')
  head 
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title 常用的HTML特殊字符速查(css3 content)
    link(rel='stylesheet', type='text/css', href='css/index.css')
  body
    .wrap
      h1 常用的HTML特殊字符速查(css3 content)
      table
        tr
          th.red 线性箭头
          th 0
          th 1
          th 2
          th 3
          th 4
          th 5
          th 6
          th 7
          th 8
          th 9
          th A
          th B
          th C
          th D
          th E
          th F
        tr 
          - var n='219'
          include jade-part/tr
        tr 
          - var n='21A'
          include jade-part/tr
        tr 
          - var n='21B'
          include jade-part/tr
        tr 
          - var n='21C'
          include jade-part/tr
        tr 
          - var n='21D'
          include jade-part/tr
        tr 
          - var n='21E'
          include jade-part/tr
        tr 
          - var n='21F'
          include jade-part/tr
        tr 
          - var n='290'
          include jade-part/tr
        tr 
          - var n='291'
          include jade-part/tr
        tr 
          - var n='292'
          include jade-part/tr
        tr 
          - var n='293'
          include jade-part/tr
        tr 
          - var n='294'
          include jade-part/tr
        tr 
          - var n='295'
          include jade-part/tr
        tr 
          - var n='296'
          include jade-part/tr
        tr 
          - var n='297'
          include jade-part/tr
      table
        tr
          th.red 基本形状
          th 0
          th 1
          th 2
          th 3
          th 4
          th 5
          th 6
          th 7
          th 8
          th 9
          th A
          th B
          th C
          th D
          th E
          th F
        tr 
          - var n='25A'
          include jade-part/tr
        tr 
          - var n='25B'
          include jade-part/tr
        tr 
          - var n='25C'
          include jade-part/tr
        tr 
          - var n='25D'
          include jade-part/tr
        tr 
          - var n='25E'
          include jade-part/tr
        tr 
          - var n='25F'
          include jade-part/tr
      table
        tr
          th.red 杂项符号
          th 0
          th 1
          th 2
          th 3
          th 4
          th 5
          th 6
          th 7
          th 8
          th 9
          th A
          th B
          th C
          th D
          th E
          th F
        tr 
          - var n='260'
          include jade-part/tr
        tr 
          - var n='261'
          include jade-part/tr
        tr 
          - var n='262'
          include jade-part/tr
        tr 
          - var n='263'
          include jade-part/tr
        tr 
          - var n='264'
          include jade-part/tr
        tr 
          - var n='265'
          include jade-part/tr
        tr 
          - var n='266'
          include jade-part/tr
        tr 
          - var n='267'
          include jade-part/tr
        tr 
          - var n='268'
          include jade-part/tr
        tr 
          - var n='269'
          include jade-part/tr
        tr 
          - var n='26A'
          include jade-part/tr
        tr 
          - var n='26B'
          include jade-part/tr
        tr 
          - var n='26C'
          include jade-part/tr
        tr 
          - var n='26D'
          include jade-part/tr
        tr 
          - var n='26E'
          include jade-part/tr
        tr 
          - var n='26F'
          include jade-part/tr
        tr 
          - var n='270'
          include jade-part/tr
        tr 
          - var n='271'
          include jade-part/tr
        tr 
          - var n='272'
          include jade-part/tr
        tr 
          - var n='273'
          include jade-part/tr
        tr 
          - var n='274'
          include jade-part/tr
        tr 
          - var n='275'
          include jade-part/tr
        tr 
          - var n='276'
          include jade-part/tr
        tr 
          - var n='277'
          include jade-part/tr
        tr 
          - var n='278'
          include jade-part/tr
        tr 
          - var n='279'
          include jade-part/tr
        tr 
          - var n='27A'
          include jade-part/tr
        tr 
          - var n='27B'
          include jade-part/tr
      h2 说明：
      p.txt 这些字符属于unicode字符集，所以文档需要声明为UTF-8；
      p.txt 用于CSS文件中时，需要用反斜杠
        code \
        | 转义(如：
        code content:'\2190';
        | )； 
      p.txt 也可以用于javascript，和CSS用法一样，不过要用
        code \u
        | 来转义。
      h3 需要主意的是： 
      p.txt 有的字符在不同的浏览器下表现不太一样；比如小雪人
        code  ☃ 
        | 在firefox和Chrome下不太一样，钻石
        code  ◆ 
        | 在IE下要比Chrome下要大一些； 
      p.txt 有的字符在某个浏览器下不会显示；当然原因并不是字符代码的问题，而是浏览器的bug，但是，98%的字符都能在所有浏览器下正常显示的，不过如果你真的要使用，最好仔细在各个浏览器下验证一下。 
      p.txt 经测试这些字符在Android/iOS等智能终端的识别度比较差，还有一些图标在移动浏览器会默认是彩色的；所以，使用的时候要特别注意移动浏览器。