*
  margin 0
  padding 0
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
body
  background #FFF
  width 100%
  height 100%
  font-size 14px
  font-family Helvetica, Arial, "Hiragino Sans GB", sans-serif
.wrap
  width 1200px 
  margin 0 auto
  padding-bottom 100px
.red
  color red
  white-space nowrap
h1,h2,h3
  color #555
  padding-top 15px
h1
  word-break: break-all
  font-size: 32px
  font-weight: bold
  line-height: 1.5
  text-align center
p.txt
  line-height 30px
  text-indent 2em
  color #555
code 
  background #f2f2f2
  padding 0 5px
  color #F20E86
table,tr,th,td
  border-spacing 0
  cellspacing 0
  padding 0
table
  margin-top 30px
  padding-top 10px 
  border-top 2px dashed #e7e7e7
th,td
  border-right 1px solid #e7e7e7
  border-bottom 1px solid #e7e7e7 
td 
  border-spacing 0
  padding 0
  width 70px 
  height 60px
  text-align center 
  p 
    position relative
    text-align center
    padding-top 40px
    height 20px 
    line-height 20px 
    span 
      color #555
    &:before
      position absolute
      left 0 
      top 0
      text-align center
      width 100%
      height 40px 
      line-height 40px
      font-size 30px
foo(v0,v1) 
  for v2 in 0 1 2 3 4 5 6 7 8 9 A B C D E F
    v3 = '\' + v0 + v1 + v2
    .u{v0}{v1}{v2}:before
      content v3 
foo(21,9)
foo(21,A)
foo(21,B)
foo(21,C)
foo(21,D)
foo(21,E)
foo(21,F)
foo(25,A)
foo(25,B)
foo(25,C)
foo(25,D)
foo(25,E)
foo(25,F)
foo(26,0)
foo(26,1)
foo(26,2)
foo(26,3)
foo(26,4)
foo(26,5)
foo(26,6)
foo(26,7)
foo(26,8)
foo(26,9)
foo(26,A)
foo(26,B)
foo(26,C)
foo(26,D)
foo(26,E)
foo(26,F)
foo(27,0)
foo(27,1)
foo(27,2)
foo(27,3)
foo(27,4)
foo(27,5)
foo(27,6)
foo(27,7)
foo(27,8)
foo(27,9)
foo(27,A)
foo(27,B)
foo(29,0)
foo(29,1)
foo(29,2)
foo(29,3)
foo(29,4)
foo(29,5)
foo(29,6)
foo(29,7)